<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="css/myintroduction.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.15.1/devicon.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <title>K.HikaruIntroduction</title>
  </head>
  <body>
    <header>
      <div class="topLogo">
        <img src="app/assets/images/tennisLogo.png" alt="tennisLogo" class="tennisLogo">
        <a href="#"><h1 class="topName">K.HIKARU</h1></a>
      </div>
      <div class="github">
        <img src="img/GitHub_Mark.png" alt="githubMark" class="GitHub_Mark">
        <img src="img/GitHub_Logo.png" alt="githubLogo" class="GitHub_Logo">
      </div>
      <nav>
        <ul class="connectBtn">
          <li><a href="#about">About</a></li>
          <li><a href="#hobby">Hobby</a></li>
          <li><a href="#skill">Skill</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <div class="home">
        <div class="mainVisual">
          <img src="img/mainVisual1.png" alt="mainVisual" class="mainVisualImg">
          <div class="mainVisualText">
            <p>小松 ひかる</p>
            <p>1999.4.3</p>
            <p>神奈川県横浜市</p>
            <p>道理百遍 義理一遍</p>
          </div>
        </div>
      </div>
      <h2 id="about">About</h2>
      <div class="about">
        <div class="aboutImg">
          <img src="img/newotani_1.jpeg" alt="aboutImg1" class="aboutImgContent">
          <img src="img/newotani_2.jpeg" alt="aboutImg2" class="aboutImgContent">
        </div>
        <div class="aboutText">
          <p>2020年 新入社員として株式会社ニュー・オータニへ</p>
          <p>ベル・客室係を経て電話対応オペレーターとして約3年間従事</p>
          <br>
          <h3>千代田区電話対応コンクールで優秀賞</h3>
          <p>毎年、日本電信電話協会主催で行われる千代田区電話対応コンクールへ出場</p>
          <p>約100名の出場者の中で優秀賞をいただきました</p>
        </div>
      </div>
      <h2 id="hobby">Hobby</h2>
      <div class="hobby">
        <div class="hobbyImg">
          <div class="hobbyImgTennis">
            <img src="img/tennisplay.jpg" alt="tennisplay" class="tennisImg">
            <img src="img/gravity.png" alt="pravity" class="tennisImg">
          </div>
          <div class="hobbyImgTrip">
            <img src="img/ireland.jpg" alt="ireland" class="tripImg">
            <img src="img/palao.jpg" alt="palao" class="tripImg">
          </div>
        </div>
        <div class="hobbyText">
          <h3>テニス</h3>
          <p>2021年 硬式テニスを始める</p>
          <p>愛用ラケット:Gravity MP LITE</p>
          <p>片面がブルー＆バイオレット、<br>もう片面がイエロー＆グリーンのデザイン✨</p>
          <p>週一回ほど楽しみ、年に数回ダブルス試合に参加しています。</p>
          <h3>旅行</h3>
          <p>国内外ともに旅行に行くのが好きで、<br>コロナ以前には年に一回以上海外に行くことが目標でした。</p>
          <p>行ってよかった国はアイルランド🇮🇪とパラオ🇵🇼です。</p>
          <p>アイルランドは黒ビール「ギネス」が生まれた国で<br>陽気な音楽が町中に広がっていました。</p>
          <p>パラオは新婚旅行でも大人気で、今までで1番海が綺麗でした。</p>
        </div>
      </div>
      <div class="skill">
        <h2 id="skill">Skill</h2>
        <div class="skillIcon">
          <i class="devicon-html5-plain-wordmark"></i>
          <i class="devicon-css3-plain-wordmark"></i>
          <i class="devicon-ruby-plain-wordmark"></i>
          <i class="devicon-rails-plain-wordmark"></i>
          <i class="devicon-github-original-wordmark"></i>

        </div>
      </div>
      <div class="contact">
        <h2 id="contact">Contact</h2>
        <div class="Form">
          <div class="Form-Item">
            <p class="Form-Item-Label"><span class="Form-Item-Label-Required">必須</span>お名前</p>
            <input type="text" class="Form-Item-Input" placeholder="例）小松ひかる">
          </div>
          <div class="Form-Item">
            <p class="Form-Item-Label"><span class="Form-Item-Label-Required">必須</span>電話番号</p>
            <input type="text" class="Form-Item-Input" placeholder="例）000-0000-0000">
          </div>
          <div class="Form-Item">
            <p class="Form-Item-Label"><span class="Form-Item-Label-Required">必須</span>メールアドレス</p>
            <input type="email" class="Form-Item-Input" placeholder="例）example@gmail.com">
          </div>
          <div class="Form-Item">
            <p class="Form-Item-Label isMsg"><span class="Form-Item-Label-Required">必須</span>お問い合わせ内容</p>
            <textarea class="Form-Item-Textarea"></textarea>
          </div>
          <input type="submit" class="Form-Btn" value="送信する">
        </div>
      </div>
    </main>
  </body>
</html><!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="css/myintroduction.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.15.1/devicon.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <title>K.HikaruIntroduction</title>
  </head>
  <body>
    <header>
      <div class="topLogo">
        <img src="img/tennisLogo.png" alt="tennisLogo" class="tennisLogo">
        <a href="#"><h1 class="topName">K.HIKARU</h1></a>
      </div>
      <div class="github">
        <img src="img/GitHub_Mark.png" alt="githubMark" class="GitHub_Mark">
        <img src="img/GitHub_Logo.png" alt="githubLogo" class="GitHub_Logo">
      </div>
      <nav>
        <ul class="connectBtn">
          <li><a href="#about">About</a></li>
          <li><a href="#hobby">Hobby</a></li>
          <li><a href="#skill">Skill</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <div class="home">
        <div class="mainVisual">
          <img src="img/mainVisual1.png" alt="mainVisual" class="mainVisualImg">
          <div class="mainVisualText">
            <p>小松 ひかる</p>
            <p>1999.4.3</p>
            <p>神奈川県横浜市</p>
            <p>道理百遍 義理一遍</p>
          </div>
        </div>
      </div>
      <h2 id="about">About</h2>
      <div class="about">
        <div class="aboutImg">
          <img src="img/newotani_1.jpeg" alt="aboutImg1" class="aboutImgContent">
          <img src="img/newotani_2.jpeg" alt="aboutImg2" class="aboutImgContent">
        </div>
        <div class="aboutText">
          <p>2020年 新入社員として株式会社ニュー・オータニへ</p>
          <p>ベル・客室係を経て電話対応オペレーターとして約3年間従事</p>
          <br>
          <h3>千代田区電話対応コンクールで優秀賞</h3>
          <p>毎年、日本電信電話協会主催で行われる千代田区電話対応コンクールへ出場</p>
          <p>約100名の出場者の中で優秀賞をいただきました</p>
        </div>
      </div>
      <h2 id="hobby">Hobby</h2>
      <div class="hobby">
        <div class="hobbyImg">
          <div class="hobbyImgTennis">
            <img src="img/tennisplay.jpg" alt="tennisplay" class="tennisImg">
            <img src="img/gravity.png" alt="pravity" class="tennisImg">
          </div>
          <div class="hobbyImgTrip">
            <img src="img/ireland.jpg" alt="ireland" class="tripImg">
            <img src="img/palao.jpg" alt="palao" class="tripImg">
          </div>
        </div>
        <div class="hobbyText">
          <h3>テニス</h3>
          <p>2021年 硬式テニスを始める</p>
          <p>愛用ラケット:Gravity MP LITE</p>
          <p>片面がブルー＆バイオレット、<br>もう片面がイエロー＆グリーンのデザイン✨</p>
          <p>週一回ほど楽しみ、年に数回ダブルス試合に参加しています。</p>
          <h3>旅行</h3>
          <p>国内外ともに旅行に行くのが好きで、<br>コロナ以前には年に一回以上海外に行くことが目標でした。</p>
          <p>行ってよかった国はアイルランド🇮🇪とパラオ🇵🇼です。</p>
          <p>アイルランドは黒ビール「ギネス」が生まれた国で<br>陽気な音楽が町中に広がっていました。</p>
          <p>パラオは新婚旅行でも大人気で、今までで1番海が綺麗でした。</p>
        </div>
      </div>
      <div class="skill">
        <h2 id="skill">Skill</h2>
        <div class="skillIcon">
          <i class="devicon-html5-plain-wordmark"></i>
          <i class="devicon-css3-plain-wordmark"></i>
          <i class="devicon-ruby-plain-wordmark"></i>
          <i class="devicon-rails-plain-wordmark"></i>
          <i class="devicon-github-original-wordmark"></i>

        </div>
      </div>
      <div class="contact">
        <h2 id="contact">Contact</h2>
        <div class="Form">
          <div class="Form-Item">
            <p class="Form-Item-Label"><span class="Form-Item-Label-Required">必須</span>お名前</p>
            <input type="text" class="Form-Item-Input" placeholder="例）小松ひかる">
          </div>
          <div class="Form-Item">
            <p class="Form-Item-Label"><span class="Form-Item-Label-Required">必須</span>電話番号</p>
            <input type="text" class="Form-Item-Input" placeholder="例）000-0000-0000">
          </div>
          <div class="Form-Item">
            <p class="Form-Item-Label"><span class="Form-Item-Label-Required">必須</span>メールアドレス</p>
            <input type="email" class="Form-Item-Input" placeholder="例）example@gmail.com">
          </div>
          <div class="Form-Item">
            <p class="Form-Item-Label isMsg"><span class="Form-Item-Label-Required">必須</span>お問い合わせ内容</p>
            <textarea class="Form-Item-Textarea"></textarea>
          </div>
          <input type="submit" class="Form-Btn" value="送信する">
        </div>
      </div>
    </main>
  </body>
</html>